.main-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100vh;
}

.user_page,
.cart_products,
.cart_items,
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  font-weight: 200;
}

.user_mail,
.user_name {
  font-size: 26px;
  font-weight: 200;
  padding-bottom: 10px;
}

.user_mail strong,
.user_name strong {
  padding-left: 20px;
  font-weight: 600;
}

.cart_products {
  font-size: 40px;
}

.cart_items {
  font-weight: 400;
  font-size: 30px;
}
/* User.css */

ul {
  list-style: none;
  padding:20px 0 0 20px;
  font-size: 20px;
  font-weight: 400;
}

li {
  display: flex;
  align-items: center;
  gap: 10px; 
  margin-bottom: 10px;
}
li img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px; 
}
