.shop-category-banner {
  width: 100%;
  display: block;
  margin: 10px auto;
  border-radius: 50px;
}
.shop-category-indexSort {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px 10px 40px;
}
/* .shop-category-sort {
  border: 1px solid #888;
  border-radius: 20px;
  padding: 10px 20px;
}
.shop-category-sort:hover {
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
} */
.shop-category-products {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px 10px 20px;
  margin-bottom: 50px;
  justify-content: space-evenly;
  row-gap: 50px;
}
.loading-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  width: 233px;
  height: 69px;
  font-size: 24px;
}
.shop-category-products img {
  width: 100%;
  max-width: 250px;
  height: 250px;
  object-fit: fill;
  border-radius: 15px;
}
.item_unavailable {
  opacity: 0.7;
  filter: blur(0.5px);
  position: relative;
}

.item_unavailable_text {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  color: red;
  font-weight: bold;
}
